a {
    text-decoration: none;
}
.hero-form {
    width: 36%;
    background-color: #fff;
    border-radius: 12px;
    margin-top: -20rem;
    margin-left: 16rem;
    box-shadow: 0 .3rem 1rem rgb(0 0 0 / 0.2);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.profession-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profession-field > p {
    font-size: 1.8rem;
    color: #10274F;
    font-family: "NunitoBold";
}
.profession-field > input {
    width: 70%;
    font-size: 1.2rem;
    color: #B8C0CB;
    font-family: "NunitoRegular";
    padding: 1rem 2rem;
    border: 1px solid #C2C9D4;
    border-radius: 5px;
}
input:focus {
    outline: none;
}
.looking-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.looking-field > p {
    width: 12rem;
    font-size: 1.8rem;
    color: #10274F;
    font-family: "NunitoBold";
}
.looking-field > input {
    width: 70%;
    font-size: 1.2rem;
    color: #B8C0CB;
    font-family: "NunitoRegular";
    padding: 1rem 2rem;
    border: 1px solid #C2C9D4;
    border-radius: 5px;
}
.zip-field {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.zip-field > p {
    width: 11rem;
    font-size: 1.8rem;
    color: #10274F;
    font-family: "NunitoBold";
}
.zip-field > input {
    width: 30%;
    font-size: 1.2rem;
    color: #B8C0CB;
    font-family: "NunitoRegular";
    padding: 1rem 2rem;
    border: 1px solid #C2C9D4;
    border-radius: 5px;
}
.search-btn-container {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.search-btn {
    font-size: 1.2rem;
    color: #F5F5F5;
    background-color: #1C75BC;
    font-family: "GilroyMedium";
    border: 1px solid #1C75BC;
    width: 12rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.search-icon {
    font-size: 2rem;
    color: #fff;
    margin-right: .5rem;
}