.header-container {
    display: flex;
    /* height: 22.3vh; */
    background-color: #E5F0FF;
    padding: 0 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo-header {
    height: 5.4rem;
    cursor: pointer;
}
.header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.user-image {
    height: 4.8rem;
    margin-right: 1.9rem;
}
.header-nav > li {
    font-size: 1.8rem;
    font-family: "GilroyMedium";
    color: #8F9194;
    margin-right: 5.3rem;
    cursor: pointer;
}
.header-nav .active {
    color: #10274F;
    border-bottom: 2px solid #1C75BC;
    padding-bottom: .3rem;
}
.user-section {
    display: flex;
    align-items: center;
}