.footer-container {
    display: flex;
    background-color: #10274F;
    padding: 2.5rem 10rem;
    color: #fff;
    justify-content: space-between;
}
.footer-list {
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    font-family: "GilroyMedium";
}
.footer-list > li {
    margin-left: 1rem;
}
.copyrights {
    font-size: 1.3rem;
    font-family: "GilroyMedium";
}
.dot-icon {
    font-size: 2rem;
}